asgiref-3.5.2-py3-none-any.whl
distlib-0.3.6-py2.py3-none-any.whl
Django-4.1.2-py3-none-any.whl
django_cors_headers-3.13.0-py3-none-any.whl
djangorestframework-3.14.0-py3-none-any.whl
filelock-3.8.0-py3-none-any.whl
platformdirs-2.5.2-py3-none-any.whl
pytz-2022.4-py2.py3-none-any.whl
sqlparse-0.4.3-py3-none-any.whl
tzdata-2022.4-py2.py3-none-any.whl

